.main {
  max-height: var(--visibleAreaHeight);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

.listItem {
  flex-shrink: 0;
  min-height: var(--blockHeight);
}
