.main.isExpanded {
  margin-bottom: 10px;
}

.main > .main {
  margin-left: 10px;
}

.label {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 16px;
  text-align: left;
}

.label::after {
  margin-left: 5px;
  width: 15px;
  display: inline-block;
  content: "→";
}

.label.isExpanded::after {
  content: "↓";
}

.label:focus, .label:focus + * {
  background: aliceblue;
}

.content {
  padding-left: 20px;
}
